<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Form Example</title>
</head>
<body>
    <h1>Thymeleaf Form Example</h1>

    <!--/*@thymesVar id="person" type="com.example.domain.Person"*/-->
    <form th:action="@{/form}" th:object="${person}" method="post">
        <div>
            First Name: <input type="text" th:field="*{firstName}" />
        </div>
        <div>
            Last Name: <input type="text" th:field="*{lastName}" />
        </div>
        <div>
            Email: <input type="text" th:field="*{email}" />
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>