<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>SampleKatharsisServlet</servlet-name>
        <servlet-class>org.example.katharsis.SampleKatharsisServlet</servlet-class>
        <init-param>
            <param-name>katharsis.config.core.resource.package</param-name>
            <param-value>org.example</param-value>
        </init-param>
        <init-param>
            <param-name>katharsis.config.core.resource.domain</param-name>
            <param-value>http://localhost:8080</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SampleKatharsisServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
</web-app>